apiVersion: apps/v1
kind: Deployment
metadata:
  name: mailhog
  namespace: vvma
  labels:
    app: mailhog
    component: email
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mailhog
  template:
    metadata:
      labels:
        app: mailhog
        component: email
    spec:
      containers:
      - name: mailhog
        image: mailhog/mailhog:v1.0.1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 1025
          name: smtp
          protocol: TCP
        - containerPort: 8025
          name: http
          protocol: TCP
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          capabilities:
            drop:
            - ALL
