apiVersion: v1
kind: Service
metadata:
  name: mailhog
  namespace: vvma
  labels:
    app: mailhog
spec:
  selector:
    app: mailhog
  ports:
  - name: smtp
    port: 1025
    targetPort: 1025
    protocol: TCP
  - name: http
    port: 8025
    targetPort: 8025
    protocol: TCP